<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="haopintui.Properties.Settings.订单ConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\haopintui\zhuzhou\Release\config\阿里妈妈订单.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
